body {
    background: url(https://www.shutterstock.com/image-illustration/basketball-sport-arena-interior-view-600nw-1928721584.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

header {
    font-size:xx-large;
    font-style: bold;
    text-transform: uppercase;
    text-shadow: #000 4px 4px 5px ;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 850px;
    text-align: center;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 20px;
    color:#c2903b;
    background-color:rgb(101, 127, 149);        
    font-weight: 1000;
}

main {
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 10px;
    padding: 25px;
    border: 8px solid black;
    border-radius: 20px;
    background-color:rgb(101, 127, 149);        

}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#result {
    margin-top: 20px;
    color: rgb(252, 252, 252);
    text-align: center;
    border: 8px solid black;
    align-self: center;
    width: 400px;
    max-width: 800px;
    height: 40px;
    padding-top: 15px;
    border-radius: 20px;
    background-color: rgb(101, 127, 149);
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;

}

#question {
    align-self: center;
    height: 50px;
    width: 800px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    padding-top: 20px;
    border: 8px solid black;
    color:rgb(0, 0, 0);
    background-color: rgb(101, 127, 149);
    border-radius: 20px;
    font-size:xx-large;
    font-weight: 1000;
}

.choices {
    width: 500px;
    height: 80px;
    gap: 10px;
    justify-content: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #ee6730;
    font-weight: 600;
    text-transform: uppercase;
    font-size: larger;
}

#score {
    align-self: center;
    width: 150px;
    height: 40px;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    font-size: larger;
    font-weight: 600;
    background-color: #ee6730;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

div p {
    font-size: large;
}

.choices:hover {
    cursor: pointer;
    background-color: rgb(52, 239, 27);
    border: 8px solid rgb(0, 0, 0);
    border-radius: 10px;
}

#navigator {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    width: 400px;
    height: 50px;
    gap: 8px;

}

 #navigator button {
    width: 80px;
    height: 30px;
    align-self: center;
    background-color: rgb(238, 175, 93);
    border: 3px solid black;
    border-radius: 5px;
    text-transform: uppercase;
}

#navigator button:hover {
    cursor: pointer;
    background-color: rgb(209, 219, 227);
}

.selected {
    background-color: rgb(43, 239, 27);
    color: #000;
}

.wrong {
    background-color: #ee6730;
    color: #000;
}